langchain-core
langchain
langchain-deepseek
langchain-community
langchain-google-genai
google-generativeai
langchain-anthropic
openai
openai
langchain-anthropic
langchain-google-genai
google-generativeai
huggingface-hub
transformers
python-dotenv
numpy
scikit-learn
faiss-cpu
youtube-transcript-api



# for activating venv - .\venv\Scripts\Activate
